spring:
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: true
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
